<?xml version="1.0" encoding="UTF-8"?>

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in
 |                 ${maven.conf}/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   |
   | Default: ${user.home}/.m2/repository
  <localRepository>/path/to/local/repo</localRepository>
  -->

  <!-- interactiveMode
   | This will determine whether maven prompts you when it needs input. If set to false,
   | maven will use a sensible default value, perhaps based on some other setting, for
   | the parameter in question.
   |
   | Default: true
  <interactiveMode>true</interactiveMode>
  -->

  <!-- offline
   | Determines whether maven should attempt to connect to the network when executing a build.
   | This will have an effect on artifact downloads, artifact deployment, and others.
   |
   | Default: false
  <offline>false</offline>
  -->
	<activeProfiles>
		<activeProfile>global-settings</activeProfile>
		<activeProfile>standard-repositories</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>global-settings</id>
			<properties>
				<!-- this properties will be used in the deployment configuration profiles below -->
				<!-- START - EDITABLE BLOCK - organization info part of Anypoint Access Management -->
				<master.org.name>com.pmi.bi</master.org.name>
				<company.abbr>com</company.abbr>
				<my-organization-anypoint-orgid>CHANGE_BY_ORGANIZATION_ID</my-organization-anypoint-orgid>
				<api.businessGroup>APIS</api.businessGroup>
				<ap_id>CHANGE_BY_CLIENT_APP_ID</ap_id>
				<ap_secret>CHANGE_BY_CLIENT_APP_SECRET</ap_secret>
				<!-- END - EDITABLE BLOCK -->
				
				<!-- START - EDITABLE BLOCK - source code management system details -->
				<my_scm_connection_suffix></my_scm_connection_suffix>
				<my_scm_connection_prefix>scm:git:ssh://git@github.com/nelsonandredias/mulesoft_jenkins.git</my_scm_connection_prefix>
				<my_scm_url_prefix>git@github.com/nelsonandredias/mulesoft_jenkins.git</my_scm_url_prefix>
				<my_scm_url_suffix></my_scm_url_suffix>

				<!-- END - EDITABLE BLOCK - source code management system details -->
				<ch.deploymentTimeout>300000</ch.deploymentTimeout>
				<ch.region>us-west-2</ch.region>
				<cloudhub.domain>.us-w2.cloudhub.io</cloudhub.domain>
				
				<corporate-artifact-repository-url>https://my-nexus.com:8443/repository/c4e</corporate-artifact-repository-url>
			</properties>
		</profile>
		
		<!--
                        Deployment Configurations
			These are the deployment configurations, one for each environment, server, server-group, cluster or fabric
		-->		

		<profile>
			<id>dev</id>
			<activation>
				<property>
					<name>env</name>
					<value>dev</value>
				</property>
			</activation>
			<properties>
				<cloudhub.name>${project.artifactId}-${env}</cloudhub.name>
				<hybrid.name>${project.artifactId}-${env}</hybrid.name>
				<rtf.name>${project.artifactId}-${env}</rtf.name>
				<deploy.environment>DEV</deploy.environment>
			</properties>
		</profile>
		<profile>
			<id>acc</id>
			<activation>
				<property>
					<name>env</name>
					<value>acc</value>
				</property>
			</activation>
			<properties>
				<cloudhub.name>${project.artifactId}-${env}</cloudhub.name>
				<hybrid.name>${project.artifactId}-${env}</hybrid.name>
				<rtf.name>${project.artifactId}-${env}</rtf.name>
				<deploy.environment>ACC</deploy.environment>
			</properties>
		</profile>
		<profile>
			<id>prd</id>
			<activation>
				<property>
					<name>env</name>
					<value>prd</value>
				</property>
			</activation>
			<properties>
				<cloudhub.name>${project.artifactId}</cloudhub.name>
				<hybrid.name>${project.artifactId}</hybrid.name>
				<rtf.name>${project.artifactId}</rtf.name>
				<deploy.environment>PRD</deploy.environment>
			</properties>
		</profile>
		
		<!--
			These are the repositories that will be used to resolve dependencies
		-->

		<profile>
			<id>standard-repositories</id>
			<repositories>
				
				<!--<repository>
					<id>anypoint-exchange-v2</id>
					<name>Anypoint Exchange</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/maven</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>mulesoft-releases</id>
					<name>MuleSoft Releases Repository</name>
					<url>https://repository.mulesoft.org/releases/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>Central</id>
					<name>Central</name>
					<url>https://repo1.maven.org/maven2</url>
					<layout>default</layout>
				</repository> 	
				<repository>
					<id>mulesoft-exchange-repository</id>
					<name>Mulesoft Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
					<layout>default</layout>
				</repository>
			    <repository>
			        <id>mule</id>
			        <name>Mule Repository</name>
			        <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>
			    </repository>-->
				<repository>
					<id>my-organization-exchange-repository</id>
					<name>My OrgID's Mulesoft Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/organizations/${my-organization-anypoint-orgid}/maven</url>
					<layout>default</layout>
				</repository>
			<!-- uncomment to use the corporate artifact repository (don't forget to configure the url
				<repository>
					<id>corporate-artifact-repository</id>
					<name>Corporate Artifact Repository</name>
					<url>https://repo-001.corporate.com:8443/repository/</url>
					<layout>default</layout>
				</repository>
			-->
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>Central</id>
			        <url>http://repo1.maven.org/maven2</url>
			        <releases>
						<enabled>true</enabled>
			        </releases>
			    </pluginRepository>
				<pluginRepository>
					<id>my-organization-exchange-repository</id>
					<name>My OrgID's Mulesoft Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/organizations/${my-organization-anypoint-orgid}/maven</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<id>mulesoft-releases</id>
					<name>MuleSoft Releases Repository</name>
					<layout>default</layout>
					<url>https://repository.mulesoft.org/releases/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
			
			
		</profile>
		
	</profiles>
	
	
	
  <!-- pluginGroups
   | This is a list of additional group identifiers that will be searched when resolving plugins by their prefix, i.e.
   | when invoking a command line like "mvn prefix:goal". Maven will automatically add the group identifiers
   | "org.apache.maven.plugins" and "org.codehaus.mojo" if these are not already contained in the list.
   |-->
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>

  <!-- proxies
   | This is a list of proxies which can be used on this machine to connect to the network.
   | Unless otherwise specified (by system property or command-line switch), the first proxy
   | specification in this list marked as active will be used.
   |-->
  <proxies>
    <!-- proxy
     | Specification for one proxy, to be used in connecting to the network.
     |
    <proxy>
      <id>optional</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>proxyuser</username>
      <password>proxypass</password>
      <host>proxy.host.net</host>
      <port>80</port>
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
    -->
  </proxies>

  <!-- servers
   | This is a list of authentication profiles, keyed by the server-id used within the system.
   | Authentication profiles can be used whenever maven must make a connection to a remote server.
   |-->
  <servers>
    <!-- server
     | Specifies the authentication information to use when connecting to a particular server, identified by
     | a unique name within the system (referred to by the 'id' attribute below).
     |
     | NOTE: You should either specify username/password OR privateKey/passphrase, since these pairings are
     |       used together.
     |
    <server>
      <id>deploymentRepo</id>
      <username>repouser</username>
      <password>repopwd</password>
    </server>
    -->

    <!-- Another sample, using keys to authenticate.
    <server>
      <id>siteServer</id>
      <privateKey>/path/to/private/key</privateKey>
      <passphrase>optional; leave empty if not used.</passphrase>
    </server>
    -->
		<!--<server>
			<id>AnypointStudioSandBox</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>-->
		
		<!--configure the user credentials to access the repositories
		<server>
			<id>corporate-artifact-repository</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>-->
		<server>
			<id>my-organization-exchange-repository</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>
		<!--<server>
			<id>mulesoft-exchange-repository</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>
		<server>
			<id>mule</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>
		<server>
			<id>mulesoft-plugin-releases</id>
			<username>${anypointUsername}</username>
			<password>${anypointPassword}</password>
		</server>-->

	</servers>

  <!-- mirrors
   | This is a list of mirrors to be used in downloading artifacts from remote repositories.
   |
   | It works like this: a POM may declare a repository to use in resolving certain artifacts.
   | However, this repository may have problems with heavy traffic at times, so people have mirrored
   | it to several places.
   |
   | That repository definition will have a unique id, so we can create a mirror reference for that
   | repository, to be used as an alternate download site. The mirror site will be the preferred
   | server for that repository.
   |-->
  <mirrors>
    <!-- mirror
     | Specifies a repository mirror site to use instead of a given repository. The repository that
     | this mirror serves has an ID that matches the mirrorOf element of this mirror. IDs are used
     | for inheritance and direct lookup purposes, and must be unique across the set of mirrors.
     |
    <mirror>
      <id>mirrorId</id>
      <mirrorOf>repositoryId</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://my.repository.com/repo/path</url>
    </mirror>
     -->
  </mirrors>

	

  
</settings>
